@import '../../../../vars';

.createCategory {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;

    h2 {
        margin-bottom: 50px;
        font-size: $normal_subtitle_size;
    }

    &__form {
        width: 400px;
    }

    &__input {
        margin-bottom: 15px;
    }

    &__btn {
        margin-top: 50px;
    }
}