@import 'styles/vars';

.authForm {
  width: 100%;
  max-width: 550px;
  height: auto;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include extra-x-large {
    max-width: 550px;
    box-shadow: 0px 4px 19px rgba(151, 151, 151, 0.25);
  }

  h2 {
    font-size: $small_title_size;
    margin-bottom: 50px;

    @include large {
      margin-top: 50px;
    }
  }

  &__divider {
    width: 100%;
    background-color: $background;
    padding: 15px;
    font-size: $small_normal_size;
    text-align: center;
    color: $secondary
  }

  &__btn {
    margin-top: 35px;
    margin-bottom: 15px;
  }

  &__input {
    margin-top: 15px;
  }

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    padding: 50px 25px 0px;

    @include extra-large {
      padding: 50px 50px;
    }

    @include extra-x-large {
      padding: 100px 50px;
    }
  }

  &__loading {
    display: flex;
    width: 100%;
    margin-top: 10px;
    justify-content: flex-end;
  }
}