@import '../../vars';

.dashboardLink {
    list-style: none;
    padding: 10px;
    padding-left: 0px;
    cursor: pointer;

    &__icon {
        margin-right: 15px;
        font-size: $normal_normal_size;
    }

    span {
        font-size: $normal_text_size;
    }
}