@import '../../vars';

.dashboardLink {
    list-style: none;
    padding: 10px;
    padding-left: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    &__icon {
        margin-right: 15px;
        font-size: $normal_normal_size;
    }

    span {
        font-size: $normal_text_size;
    }
}

.dashboardGroup {
    width: 100%;
    height: auto;
    padding: 25px;
    padding-top: 10px;
    padding-left: 37px;
    
    &__item {
        cursor: pointer;
        list-style: none;
        font-size: $normal_text_size;
        margin-bottom: 15px;
    }
}