@import '../../vars';

@mixin iconBtn($name, $color) {
    .iconBtn--#{$name} {
        border: 2px solid $color;
        background-color: $color;

        &:hover {
            .iconBtn__icon {
                color: $color;
            }
        }
    }
}

@include iconBtn("danger", $danger);
@include iconBtn("primary", $primary);
@include iconBtn("dark", $dark);

.iconBtn {
    padding: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    transition: all 300ms;

    &__icon {
        color: white;
        font-size: $normal_text_size;
    }

    &:hover {
        background-color: #fff;
    }
}