@import "../../vars";

.switch {
    width: 50px;
    border: 1px solid #dcdcdcdc;
    border-radius: 25px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;

    &--active {
        background-color: $primary;
        justify-content: flex-end;

        .switch__dot {
            background-color: #fff;
        }
    }

    &__dot {
        width: 25px;
        height: 24px;
        border-radius: 100%;
        background-color: #dcdcdc7a;
    }
}