@import "../../../vars";

.products {
    h2 {
        font-size: $normal_title_size;
        margin-bottom: 25px;
    }

    &__btn {
        width: 250px !important;
        margin-top: 25px;
    }
}