@import '../vars';

.login {
  width: 100vw;
  min-height: 100vh;

  &__content {
    height: 100vh;
    min-height: 700px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 75px 1fr;
    justify-items: center;
    align-items: center;
  }
}