@import '../vars';

.navbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $primary;
    padding: 0px 15px;
    background-color: #fff;
    z-index: 100000;

    &__title {
        font-family: $vogue;
        font-size: $small_header_size;
        color: $secondary;
        margin-top: 10px;
    }

    &__cart-wrapper {
        .navbar__cart {
            font-size: $small_subtitle_size;
            color: $secondary;
        }
    }

    &__utils {
        .navbar__bars {
            font-size: $small_subtitle_size;
            color: $secondary;
            cursor: pointer;
        }
    }
}

.offers {
    width: 100%;
    background-color: $primary;
    color: #fff;
    padding: 5px;
    display: flex;
    justify-content: center;
    transition: all 300ms;

    span {
        font-family: $champagne;
    }

    &__menu-active {
        margin-top: 50px;
    }
}

.header {
    z-index: 100000;
    width: 100%;
    position: fixed;
}

.menu {
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: #fff;
    transform: translateY(-100%);
    z-index: -1;
    opacity: 0;

    &__items {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }

    &__disabled {
        animation: hideMenu 300ms forwards;
    }

    &__active {
        display: block;
        animation: showMenu 300ms forwards;
    }
}

@keyframes showMenu {
    from { 
        opacity: 0; 
    }
        
    to { 
        transform: translateY(0%); 
        opacity: 1; 
    }
}

@keyframes hideMenu {
    from { 
        opacity: 1; 
        transform: translateY(0%) 
    }
    to { 
        transform: translateY(-100%); 
        opacity: 0;  
    }
}