@import "../../vars";

.select {
    width: 100%;
    display: flex;
    flex-direction: column;

    &__deployer {
        height: 55px;
        border: 1px solid #dcdcdc;
        border-radius: 2px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 15px;

        span {
            font-size: $normal_text_size;
        }

        &--deployed {
            border-radius: 2px 2px 0px 0px;
        }
    }

    &__icon {
        font-size: $normal_text_size;
    }

    &__items {
        border: 1px solid #dcdcdc;
        border-radius: 0px 0px 2px 2px;
        border-top: none;
        background-color: #fff;
        z-index: 10000;
        position: absolute;
        min-height: 55px;
        width: 450px;
        margin-top: 55px;
        display: flex;
        flex-direction: column;
    }

    &__item {
        display: flex;
        align-items: center;
        font-size: $normal_text_size;
        height: 55px;
        padding: 0px 15px;
        cursor: pointer;

        &:hover {
            background-color: #ebebeb82;
        }
    }
}