@import '../../../../vars';

.wrapper {
    width: calc(100vw - 350px);
    height: calc(100vh - 60px);
    background-color: rgba(255, 255, 255, 0.755);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    right: 0;
}

.addCategoryModal {
    width: 450px;
    background-color: #fff;
    border: 1px solid #dcdcdc;
    padding: 15px;
    border-radius: 2px;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h4 {
            font-size: $normal_normal_size;
        }

        &-icon {
            font-size: $normal_normal_size;
        }
    }

    &__form {
        margin-top: 15px;
    }

    &__input {
        margin-top: 25px;
    }

    &__btn {
        margin-top: 25px;
    }
}