@import "../../../../vars";

.title {
    margin: 15px 0px;
    font-size: $normal_normal_size;
}

.categoryCreator {
    padding: 15px;
    border: 1px solid #dcdcdc;

    &__categories {
        min-height: 150px;
        max-height: 250px;
        margin-bottom: 10px;
        overflow-y: scroll;
    }

    &__category {
        width: 100%;
        display: flex;
        height: 60px;
        border-bottom: 1px solid #dcdcdc;
        justify-content: space-between;
        align-items: center;
        padding: 0px 15px;

        h4 {
            font-size: $normal_text_size;
        }
    }
}