@import '../vars';

.references {
    background-color: $background;
    padding: 50px 0px;

    &__swipper {
        width: 100%;
        height: 300px;
        background-color: #fff;
    }

    &__btn {
        margin: 0 auto;
        width: 75%;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        h3 {
            font-size: $small_subtitle_size;
            margin: 40px 0px;
        }

        p {
            text-align: center;
            font-size: $small_text_size;
        }
    }
}