@import '../vars';

.references {
    background-color: $background;
    padding: 50px 0px;

    &__swiper {
        width: 100%;
        height: 300px;
        background-color: #fff;

        :global(.swiper-pagination-bullet) {
            background: #ABABAB;
        }
        
        :global(.swiper-pagination-bullet-active) {
          background-color: $primary;
        }
    }

    &__slide {
        background-image: url('/fundas.webp');
        background-size: cover;
    }

    &__btn {
        margin: 0 auto;
        width: 75%;
        margin-top: 50px;
        margin-bottom: 25px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $secondary;

        h3 {
            font-size: $small_subtitle_size;
            margin: 40px 0px;
        }

        p {
            text-align: center;
            font-size: $small_text_size;
        }
    }
}