$primary: #89A3C6;
$secondary: #525252;
$background: #F6F6F6;
$dark: #555555;

$vogue: 'Vogue';
$champagne: 'Champagne';

$small_header_size: 34px;
$small_title_size: 28px;
$small_subtitle_size: 24px;
$small_normal_size: 18px;
$small_text_size: 16px;

$normal_header_size: 42px;
$normal_title_size: 32px;
$normal_subtitle_size: 28px;
$normal_normal_size: 24px;
$normal_text_size: 20px;

$big_header_size: 48px;
$big_title_size: 36px;
$big_subtitle_size: 32px;
$big_normal_size: 28px;
$big_text_size: 24px;

@mixin extra-small {
    @media only screen and (min-width: 500px) {
        @content;
    }
}

@mixin small {
    @media only screen and (min-width: 640px) {
        @content;
    }
}

@mixin medium {
    @media only screen and (min-width: 768px) {
        @content;
    }
}

@mixin large {
    @media only screen and (min-width: 1024px) {
        @content;
    }
}

@mixin extra-large {
    @media only screen and (min-width: 1280px) {
        @content;
    }
}

@mixin extra-x-large {
    @media only screen and (min-width: 1536px) {
        @content;
    }
}