* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Champagne';
}

@font-face {
  font-family: 'Vogue';
  src: url("./fonts/vogue/Vogue.ttf");
}

@font-face {
  font-family: 'Champagne';
  src: url("./fonts//champagne/Champagne\ &\ Limousines.ttf");
}