@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper {
  :global(.swiper-pagination-bullet) {
    background: #ABABAB;
    opacity: 1;
  }
  
  :global(.swiper-pagination-bullet-active) {
    background-color: #89A3C6;
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Champagne';
  font-weight: 300;
}

body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@font-face {
  font-family: 'Vogue';
  src: url("../assets/fonts/vogue/Vogue.ttf");
}

@font-face {
  font-family: 'Champagne';
  src: url("../assets/fonts/champagne/Champagne\ &\ Limousines.ttf");
}

element {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
}

element::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
