@import "./vars";

.slider {
  // background-image: linear-gradient(to right bottom, #89a3c6, #abb8d4, #cacee2, #e6e6f0, #ffffff);
  // background-image: url("../public/img/background.jpg");
  background-size: cover;
    :global(.swiper-pagination-bullet) {
      background-color: $dark;
  }

  :global(.swiper-slide) {
    width: auto;
  }
  
  :global(.swiper-pagination-bullet-active) {
    background-color: $primary;
  }
}
